.fixed {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    z-index: 100; /* Lower z-index so it appears beneath the modal */
  }
  
  .w-10 {
    width: 2.5rem;
    height: 2.5rem;
  }
  